@{
    ViewData["Title"] = "Home Page";
}
@model HomeViewModel


<div class="text-center">
    <h1 class="display-4">Welcome to IMDB Drinks</h1>
    <div>
        <h2>Drink of the day:</h2>


        @await Html.PartialAsync(
            "~/Views/Drink/DrinkElement.cshtml",
            new WinUIApp.WebUI.Models.DrinkElementViewModel { Drink = Model.DrinkOfTheDay }
        )
    </div>
</div>